.student-attendance-item{
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: space-between;

    .checbox-wrapper{
        position: relative;
        display: flex;
        align-items: center;
    }

    input[type="checkbox"]{
        -webkit-appearance: none;
        appearance: none;
        width: 60px;
        border: 1px solid gray;
        height: 29px;
        border-radius: 20px;
    }

    input[type="checkbox"] + label{
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: darkcyan;
        border-radius: 50%;
        left: 8px;
        right: 0;
        transition: 0.3s;
    }

    input[type="checkbox"]:checked{
        background-color: darkcyan;
    }

    input[type="checkbox"]:checked + label  {
        left: calc(100% - 28px);
        background-color: #fff;
    }
}

input[type="date"]{
    text-indent: 5px;
    padding-right: 10px;
}


.attendance-table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;

    thead{
        position: sticky;
        top: 0;
    }

    tbody{
        tr:nth-child(even){
            background-color: lightgray; 
        }
    }
}

.table__th{
    padding: 15px 10px;
    text-transform: uppercase;
    border: 1px solid black;
    background-color: darkcyan;
    color: #fff;
}

.table__td{
    border: 1px solid black;
    padding: 15px 10px;
    vertical-align: middle;
    text-align: center;
    div{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}